@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Parkinsans", sans-serif;
}

nav a.active{
  @apply !text-white !bg-black transition-all;
}

#forecastWeather::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  cursor: pointer;
  background-color: #34D399 !important;
}

#forecastWeather::-webkit-scrollbar {
  height: 7px;
  background-color: #F8F9FA;
}
